 .sanss{
		  	font-size:small; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	cursor: hand;
		  }
		  .mainHead{
		  	font-size:xx-large; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	text-align:center;
		  	color:gray;
		  }
		  .inputFields{
		  	text-align:center;
		  }
		  .inputFields input{
		  	height: 50px;
  			font-size: 14px;
			text-align:center;
		  }
		  
		  .inputFields button{
		  	height: 50px;
  			font-size: 18px;
			text-align:center;
		  }
		  .mainMenu{
		  	font-size:xx-large; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	color:gray;
		  	background-color:black;
		  	width:100%;
		  	line-height: 40px;
		  	position:fixed;
		  	top:0;left:0;
		  	z-index:100;
		  	height:50px;
		  }
		  .menuItem{
		  	font-size:large; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	text-align:left;
		  	color:White;
		  	border: 8px solid rgb(186, 2, 16);
		  	cursor: pointer; cursor: hand;
		  }
		  body{
			margin: 0;
			padding: 0;
			font-family:'Verdana', Verdana, sans-serif;
			font-size:small;
			}
			.title{
				font-weight:bold;
			}
		
		 .footer{
		  	font-size:small; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	color:gray;
		  	width:100%;
		  	line-height: 40px;
		  	width:100%;
		  	text-align:center;
		  }
		  
		  .footer a:link {
			    text-decoration: none;
			    color:gray;
			}
			
			
		.browse{
		  	font-size:xx-large; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	color:gray;
		  	width:100%;
		  	line-height: 40px;
		  	text-align:center;
		  }
		
		.browseItem{
		  	font-size:large; 
		  	font-family:'Verdana', Verdana, sans-serif;
		  	text-align:left;
		  	color:gray;
		  	border: 8px solid white;
		  	cursor: pointer; cursor: hand;
		  }
		  
		 .browsemenuItem{
		 	border-left:2px solid white;
		 	border-right:2px solid white;
		 	color:rgba(0, 0, 0, 0.48);
		 }
		 
		  .browsemenuItem a{
		  	text-decoration: none;
		  	color:rgba(0, 0, 0, 0.48);
		  }
		 
		 .browsemenuItem:hover a{
		 	color:black;
		 	cursor: pointer; cursor: hand;
		 }
		 .itemlist{
		 	border-left:50px solid white;
		 }
		 .textsize{
			font-size:small;
		}
		.fkProduct{
			width:100%;
			align:center;
			text-align:center;
		}
		.azProduct{
			width:100%;
			align:center;
			text-align:center;
		}
		.menuContainer{
			font-size:small;
			position:absolute;
			left:30;
			top:0;
			color:white;
			border:0px solid;
			overflow-y: auto;
		}
		.menuItemSmall{
			font-size:small
		}
		.loginCSS{
			font-size:small;
			position:absolute;
			right:30;
			top;0;
			color:white;
			border:0px solid
		}
		.desktop1{
			font-size:small;
			position:absolute;
			right:30;
			top:0;
			color:white;
			border:0px solid;
		}
		.gap{
			height:20px;
		}
		.menudetails{
			display:none; 
			width:100%;
			font-family:'Verdana', Verdana, sans-serif;
			font-size:small;
			border:5px solid black;
		}
		.menudItemetails{
			display:none; 
			width:100%;
			font-family:'Verdana', Verdana, sans-serif;
			font-size:small;
			text-align:center;
		}
		.dialogcss{
			height: 55%; 
			width:55%;
			display:none; 
			z-index:25;
		}
		.ui-dialog-titlebar-close {
		  visibility: hidden;
		}
		.ui-dialog{
			z-index:2;
		}
		.thatsall {
			display:none;
		}
		.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
		   float: none;
		}
		
		.ui-dialog .ui-dialog-buttonpane {
		     text-align: center; /* left/center/right */
		}
		.footerpopup {
			width:100%;
			height:20%;
			background-color:pink;
			position:fixed;
			bottom:0;
			left:0;
			opacity: 0.96;
			display:none;
			z-index:501;
		}
		.xclose{
			font-size:xx-large;position:absolute;right:10;top:0;cursor: hand;
		}
		
		.poptitle{
			font-size:xx-large;text-align:center;margin:1%
		}
		.popemail{
			font-size:large;text-align:center;
		}
		.popsmall{
			font-size:small;text-align:center;font-weight:bold;margin:0.5%;color:gray
		}
		.images img{
			text-align:center;
			border:0px solid black;
		}
		.scenario{
			text-align:center;color:white;width:500px;height:260px;;
		}
		.step{
			border:0px solid black;
		}
		
		.hist_button{
			position:absolute;
			width:250px;
			background-color:rgb(131, 220, 14);
			border-radius: 5px;
			color:white;
		}
		
		.hist_button_small{
			height:30px;
			line-height: 30px;
		}
		.hist_button_big{
			height:50px;
			line-height: 50px;
			font-size:large;
		}
		.hist_input{
			font-size:small;
			width:250px
		}
		.hist_gap{
			height:35px;
		}
		#mainGrid {
			max-width:1250px;
			overflow:auto;
		}
		.sidead{
			text-align:center;
		}
		.sideadgoog{
			position:relative;
		}
		.slider{
			height:400px;
			width:600px;
			//background-color:black;
			text-align:center;
		}
		.menu_item:hover { 
	    	background-color: blue;
		}
		.hover_black div:hover {
		    color: black;
		    height:50px;line-height: 50px;background-color:blue;color:white;
		}
		.hover_black {
		    height:50px;line-height: 50px;background-color:blue;color:white;width:100%;
		}
		.block{
			display:none;
			position:fixed;
			top:0;left:0;
			z-index:500;
			width:100%;
			height:100%;
			background-color:black;
			opacity:0.9;
		}